---
import hamburger from "../../public/assets/images/icon-hamburger.svg";
import mobile3 from "../../public/assets/images/mobile-image-hero-3.jpg";
import mobile2 from "../../public/assets/images/mobile-image-hero-2.jpg";
import mobile1 from "../../public/assets/images/mobile-image-hero-1.jpg";
import desktop3 from "../../public/assets/images/mobile-image-hero-3.jpg";
import desktop2 from "../../public/assets/images/mobile-image-hero-2.jpg";
import desktop1 from "../../public/assets/images/mobile-image-hero-1.jpg";
import dark from "../../public/assets/images/image-about-dark.jpg";
import light from "../../public/assets/images/image-about-light.jpg";
import angleleft from "../../public/assets/images/icon-angle-left.svg";
import angleright from "../../public/assets/images/icon-angle-right.svg";
import arrow from "../../public/assets/images/icon-arrow.svg";



interface Props {
  title: string;
	button: string;
}

const { title, button} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
		<div class="main-container">
		<div class="flex-1">
    <div class="container">
      <div id="blur" class="blur-effect"></div>

      <nav>
        <span class="hamburg"> </span>
        <h1>room</h1>
        <ul>
          <li>home</li>
          <li>shop</li>
          <li>about</li>
          <li>contact</li>
        </ul>
      </nav>

      <div class="img-container">
        <img
				id="sas"
          class="library"
          src="../../public/assets/images/desktop-image-hero-1.jpg"
        />
        <div class="prev-next">
          <button id="prevButton"><img src={angleright.src} />
					</button>
          <button id="nextButton"><img src={angleleft.src} />
					</button>
        </div>
      </div>
    </div>
    <div class="description">
      <div class="mobile1">
        <h2>Discover innovative ways to decorate</h2>
        <p>
          We provide unmatched quality, comfort, and style for property owners
          across the country. Our experts combine form and function in bringing
          your vision to life. Create a room in your own style with our
          collection and make your property a reflection of you and what you
          love.
        </p>
        <button>{button}<img src={arrow.src} /></button>
      </div>
			<div class="mobile2">
        <h2>We are available all across the globe</h2>
        <p>
          With stores all over the world, it's easy for you to find furniture
          for your home or place of business. Locally, we’re in most major
          cities throughout the country. Find the branch nearest you using our
          store locator. Any questions? Don't hesitate to contact us today.
        </p>
        <button>{button}<img src={arrow.src} /></button>
      </div>
      <div class="mobile3">
        <h2>Manufactured with the best materials</h2>
        <p>
          Our modern furniture store provide a high level of quality. Our
          company has invested in advanced technology to ensure that every
          product is made as perfect and as consistent as possible. With three
          decades of experience in this industry, we understand what customers
          want for their home and office.
        </p>
        <button>{button}<img src={arrow.src} /></button>
      </div>
		</div>
		</div>
		<div class="flex-2">
    <img src={dark.src} />
    <div class="description-2">
      <h2>ABOUT OUR FURNITURE</h2>
      <p>
        Our multifunctional collection blends design and function to suit your
        individual taste. Make each room unique, or pick a cohesive theme that
        best express your interests and what inspires you. Find the furniture
        pieces you need, from traditional to contemporary styles or anything in
        between. Product specialists are available to help you create your dream
        space.
      </p>
    </div>
    <img src={light.src} />
		</div>
		    </div>

	</div>
  </body>
</html>

<script src="../components/script.js"></script>
<style lang="scss">
  @import "../styles/layout.scss";
  @import "../styles/global.scss";
</style>
